<div *ngIf="calendar">
  <img *ngIf="calendar.tipo === 'IMAGEN'"
       [src]="calendar.archivo_url"
       (click)="openModal()"/>

  <button *ngIf="calendar.tipo === 'PDF'"
          (click)="openModal()">
    Ver calendario
  </button>
</div>

<app-modal *ngIf="showModal">
  <iframe *ngIf="calendar.tipo === 'PDF'"
          [src]="calendar.archivo_url"
          width="100%"
          height="600px"></iframe>

  <img *ngIf="calendar.tipo === 'IMAGEN'"
       [src]="calendar.archivo_url" />
</app-modal>
